body{
    background-color: white;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playfield{
    width: 320px;
    height: 800px;
    border: 1px solid black;
}

.outer {
    margin-top:50px;
}

.center {
    display:flex;
    justify-content: center;
}