body{
    background-color: white;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.playfield{
    width: 500px;
    height: 702px;
    padding: 1px;
    border: 0px solid gray;
}

.outer {
    margin-top:50px;
}

.center {
    display:flex;
    justify-content: center;
}